<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IProductService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/wcf/example/helloworldservice"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductService"
                contract="ServiceReference1.IProductService" name="WSHttpBinding_IProductService">
                <identity>
                    <userPrincipalName value="DESKTOP-00QA359\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>