<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_11123PictureClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <_11123PictureClient.Properties.Settings>
            <setting name="_11123PictureClient_localhost_PictureService"
                serializeAs="String">
                <value>http://localhost:8080/service1.asmx</value>
            </setting>
            <setting name="_11123PictureClient_localhost1_DBSaveService"
                serializeAs="String">
                <value>http://localhost:8080/InsertDB.asmx</value>
            </setting>
        </_11123PictureClient.Properties.Settings>
    </applicationSettings>
</configuration>