<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- 네임스페이스명을 포함한 서비스 객체 -->
      <service name="_1124PictureService.PictureService" behaviorConfiguration="1111111">
        <!-- behavirs에 정의된 key -->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/wcf/example/pictureservice"/>
          </baseAddresses>
        </host>
        <endpoint
          contract ="_1124PictureService.IPicture"
          address =""
          binding ="basicHttpBinding"
          />        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="1111111">
          <!-- KEY -->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>