<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
            <assemblyIdentity name="ShareDll" publicKeyToken="2b1bf8d53540f18b" 
                              culture="neutral" />
            <codeBase version="2.0.0.0" href="http://www.winapi.co.kr/data/ShareDll.dll" />
          </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
