<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPicture" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/wcf/example/pictureservice"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPicture"
                contract="ServiceReference1.IPicture" name="BasicHttpBinding_IPicture" />
        </client>
    </system.serviceModel>
</configuration>